.square
{
    float: left;
    position: relative;
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    overflow: hidden;
    background-color: aqua;
}

.content
{
    position: absolute;
    height: 80%;
    width: 90%;
    padding: 10% 5%;
}

.table
{
    display: table;
    height: 100%;
    width: 100%;
}

.table-cell
{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: larger;
}

body{
    background-color: maroon;
}