.square
{
    float: left;
    position: relative;
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    overflow: hidden;
    background-color: aqua;
}

.content
{
    position: absolute;
    height: 80%;
    width: 90%;
    padding: 10% 5%;
}

.outerPositioner
{
    display: table;
    height: 100%;
    width: 100%;
}

.item
{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: larger;
}

.item:hover
{
    background-color: aquamarine;
}

body
{
    background-color: maroon;
}

.title
{
    font-size: larger;
    float: left;
    text-align: center;
}

.topBar 
{
    float: left;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: aqua;
}

.logout
{
    float: right;
    font-size: larger;
    background-color: beige;
}

.logout:hover
{
    background-color: yellow;
}

.currentUser
{
    font-size: large;
    float: left;
    padding-left: 1%;
    text-align: center;    
}

.item:hover a
{
    color: blueviolet;
}



